## 문자열을 날짜로 변환

In [2]:
import numpy as np
import pandas as pd

In [3]:
date_string = np.array(['03-04-2023 11:20 PM',
                        '05-04-2023 09:20 PM',
                        '07-04-2023 02:20 AM'
                       ])

### time stamp 객체로 변경

In [25]:
for data in date_string :
    #print(data)
    temp = pd.to_datetime(data, format= '%d-%m-%Y %I:%M %p')
    print(temp)

#errors 매개변수 - 오류처리
    
for data in date_string :
    temp_value = pd.to_datetime(data, format = '%d-%m-%Y %I:%M %p', errors='ignore')
    print(temp_value)

2023-04-03 23:20:00
2023-04-05 21:20:00
2023-04-07 02:20:00
2023-04-03 23:20:00
2023-04-05 21:20:00
2023-04-07 02:20:00

## 시간대 데이터 처리

In [30]:
pd.Timestamp('2023-01-01 06:00:00', tz='Europe/London')
data_temp = pd.Timestamp('2023-04-20 07:00:00')
print(data_temp)

2023-04-20 07:00:00

In [32]:
#시간대 지정
date_in_london = data_temp.tz_localize('Europe/London')
print(date_in_london)

2023-04-20 07:00:00+01:00

In [37]:
# 시간대를 변환
date_in_london.tz_convert('Africa/Abidjan')

#세 개의 날짜를 만들기
dates_temp = pd.Series(pd.date_range('2/2/2023', periods=3, freq='M'))
temp = dates_temp.dt.tz_localize('Africa/Abidjan')
print(temp)

0   2023-02-28 00:00:00+00:00
1   2023-03-31 00:00:00+00:00
2   2023-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

## 시간대 데이터 처리 - 01

In [42]:
import pytz
from pytz import all_timezones
all_timezones[150:152]

['America/Maceio', 'America/Managua']

In [44]:
dates_temp.dt.tz_localize('dateutil/Asia/Seoul')

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, tzfile('ROK')]

In [49]:
tz = pytz.timezone('Asia/Seoul')
temp01 = dates_temp.dt.tz_localize(tz)
print(temp01)

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

In [54]:
import pandas as pd

dateframe = pd.DataFrame()
# datetime을 만듭니다
dateframe['date'] = pd.date_range('1/1/2023', periods=1000, freq='H')
#periods 만들 개수

#두 datetime 사이의 샘플을 선택합니다.
dateframe[(dateframe['date'] > '2023-1-1 01:00:00') &
         (dateframe['date'] <= '2023-1-1 04:00:00')]

#새로운 datetime을 만듭니다.
dateframe = dateframe.set_index(dateframe['date'])
temp = dateframe.loc['2023-1-1 01:00:00' : '2023-1-1 04:00:00']
print(temp)

                                   date
date
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00