In [1]:
import numpy as np 
import pandas as pd 

# 가상 데이터 생성 -> 학생 데이터
np.random.seed(42)
math_scores = np.random.normal(loc=70, scale=10, size=(300,))
english_scores = np.random.normal(loc=80, scale=8, size=(300,))
korean_scores = np.random.normal(loc=65, scale=12, size=(300,))

# 학년 데이터 생성 
grades = np.repeat([1,2,3], 100)

# 데이터 프레임 생성 
df = pd.DataFrame({
    'Grade' : grades,
    'Math' : math_scores,
    'English' : english_scores,
    'Korean' : korean_scores
})

# csv 파일로 저장 
df.to_csv('./data/student_scores.csv', index=False, encoding='utf-8')

In [2]:
# csv 읽기 
df = pd.read_csv('./data/student_scores.csv')
print(df)

     Grade       Math    English     Korean
0        1  74.967142  73.368040  74.083863
1        1  68.617357  75.518552  53.934016
2        1  76.476885  85.978349  75.435271
3        1  85.230299  84.882962  81.267654
4        1  67.658466  79.832787  69.961219
..     ...        ...        ...        ...
295      3  63.070904  75.919869  72.784519
296      3  78.995999  77.841001  62.994583
297      3  73.072995  72.169890  66.760564
298      3  78.128621  76.445654  79.478108
299      3  76.296288  83.018404  55.196772

[300 rows x 4 columns]

In [3]:
# 상관분석 corr()
# df_temp = df.corr()
# print(df)

# # 상관분석 히트맵 시각화 
# import seaborn as sns
# sns.heatmap(df_temp , annot=True)

## 이제 각 과목별로 성적 분포와 통계치를 분석

In [4]:
# 수학 성적 분포 분석 
math_stats = df['Math'].describe()

# 영어 성적 분포 분석
english_stats = df['English'].describe()

# 국어 성적 분포 분석 
korean_stats = df['Korean'].describe()
print(korean_stats)

count    300.000000
mean      65.986329
std       11.960118
min       32.637360
25%       58.142297
50%       65.512886
75%       73.537635
max       96.588585
Name: Korean, dtype: float64